@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary:#4960FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #47715B;
  font-family: 'Gilroy', sans-serif;
  background-color: #E1E1E1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Note: Cette propriété n'est pas standard */
  }

  .text-marquee-container {
    width: 100vw; /* Utiliser toute la largeur de la vue */
    overflow: hidden; /* S'assurer que le texte ne dépasse pas les limites */
  }

  .text-marquee {
    display: inline-block; /* Afficher le texte en ligne pour le défilement horizontal */
    min-width: 100%; /* Assurer que l'élément a une largeur minimale pour afficher tout le texte */
    animation: marquee 30s linear infinite; /* Ajoute l'animation pour le défilement */
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 768px) { /* Cible les écrans de taille mobile */
  .text-marquee {
    animation: marquee-mobile 15s linear infinite; /* Animation plus rapide pour mobile */
  }

  @keyframes marquee-mobile {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* styles/globals.css */

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.custom-blur {
  filter: blur(8px);
}


/* === */
@keyframes snake-move {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }
  25% {
    clip-path: inset(0% 0% 100% 0%);
  }
  50% {
    clip-path: inset(0% 0% 0% 100%);
  }
  75% {
    clip-path: inset(100% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 100% 0% 0%);
  }
}

.snake {
  border: 2px solid blue;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: snake-move 4s linear infinite;
}

/* ==animation== */
@keyframes cube-float-large {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(20px, -20px) rotate(180deg); /* Rotation partielle */
  }
  100% {
    transform: translate(-20px, 20px) rotate(360deg); /* Retour à la position initiale avec rotation complète */
  }
}

@keyframes cube-float-small {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px); /* Descendre */
  }
  100% {
    transform: translateY(0); /* Remonter */
  }
}

@keyframes cube-float-medium {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px); /* Monter */
  }
  100% {
    transform: translateY(0); /* Retour au centre */
  }
}

/* Large cube animation */
.animate-cube-float-large {
  animation: cube-float-large 10s ease-in-out infinite;
}

/* Small cube animation */
.animate-cube-float-small {
  animation: cube-float-small 4s ease-in-out infinite alternate;
}

/* Medium cube animation */
.animate-cube-float-medium {
  animation: cube-float-medium 4s ease-in-out infinite alternate;
}
